<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Allow access to static files like CSS and images
    RewriteRule ^(css|js|img|fonts)/(.*)$ /web/assets/$1/$2 [L]
    
    # Redirect all other requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
